<div class="view">
  <input class="toggle" type="checkbox">
  <label>{{title}}</label>
  <input type="text" class="edit edit-input" value="{{title}}">
  <button class="destroy destroy-button">remove</button>
</div>
