<div id="todoapp">
  <div id="header">
    <h1>{{helper_test}}</h1>
    <input type="text" id="new-todo" placeholder="What needs to be done?">
    <div id="text-list"></div>
  </div>
  <div id="main">
    <ul id="todo-list"></ul>
  </div>
</div>
